# Trimmed down .gitignore
!examples
.env
__pycache__/
*.pyc
.venv/
*.log
.DS_Store
*.code-workspace

# Generated data (exclude these)
/gaia_results/*
/test_results/*
/logs/*
metadata.json
weaviate_binary/
weaviate_data/
*.sh
file_list_git_checkout.txt