# Trimmed down .gitignore
.env
__pycache__/
*.pyc
.venv/
*.log
.DS_Store
*.code-workspace
/docs
/notebooks
/src
/tests
/examples
metadata.json
/gaia_results
/logs
# Weaviate embedded files
weaviate_binary/
weaviate_data/

